body{
    background-color: blanchedalmond;
}

p{
    color: blueviolet;
}
#par1{
    color: orange;
    background-color: black;
    font-size: 25px;
    padding-bottom: 25px;
    text-align: center;
    
}
#par2{
    color: aliceblue;
    background-color: rgb(54, 128, 4);
    font-size: 25px;
    padding-bottom: 25px;
    text-align: center;
    text-decoration: underline ;     
}
#par3{
    color: aqua;
    background-color: cornflowerblue;
    font-size: 20px;
    text-decoration: overline;
    text-transform: capitalize;
    padding: 15px;
}
.myparagraph{
    color: darkgoldenrod;
    background-color: blue;
    font-size: 24px;
    padding: 12px;
}
.div{
    color: greenyellow;
    background-color: blueviolet;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}
    